<template name ="layerSelector">
	<div id="layer_selector" class="cartodb-infobox">
      <ul>
        <li data="By home price ">By home price<sup>2</sup></li>
        <li data="By rental">By rental<sup>2</sup></li>
      </ul>
	</div>
	<script>
      // create layer selector
      function createSelector(layer) {
        var sql = new cartodb.SQL({ user: 'documentation' });

        var $options = $('#layer_selector li');
        $options.click(function(e) {
          // get the area of the selected layer
          var $li = $(e.target);
          var area = $li.attr('data');

          // deselect all and select the clicked one
          $options.removeClass('selected');
          $li.addClass('selected');

          // create query based on data from the layer
          var query = "select * from european_countries_e";

          if(area !== 'all') {
            query = "select * from european_countries_e where area > " + area;
          }

          // change the query in the layer to update the map
          layer.setSQL(query);
        });
      }
      function main() {
      	var layerUrl1 = 'http://wjohnson1261.cartodb.com/api/v2/viz/95ae4b74-7e02-11e3-a54b-0e49973114de/viz.json';
		cartodb.createLayer(map, layerUrl1, {
  		layer_selector: true
		}).addTo(map);
		.done(function(vis, layers) {
          // layer 0 is the base layer, layer 1 is cartodb layer
          var subLayer = layers[1].getSubLayer(0);
          createSelector(subLayer);
        })
        .error(function(err) {
          console.log(err);
        });
      }

      window.onload = main;
      }
	</script>
</template>