<template name="about">

        <div id="aboutSection" class="contentSection">

                <h2>A few words about Affluenza</h2>

                <ul>
                        <li>Affluenza is a practice in data visualization built in Meteor.</li>
                        <li>Gentrification has been quantified in this app by dividing each neighborhood's median income by its median home price and rental cost<li>

                        <li> I made this application as a means to further my understanding of Javascript and reactive frameworks while delving into a topic that I have been interested in and observed while living in New York for the past several years </li>
                </ul>

                <h2>About the data sources</h2>

                <ul>
                        <li a href="http://factfinder2.census.gov/faces/nav/jsf/pages/searchresults.xhtml?refresh=t">Most of the demographic and income numbers came the U.S. Census report's American Fact Finder</li>
                        <li a href="http://www.city-data.com/">The neighborhood by neighborhood housing data came from city data</li>
                        <li a href="http://www.zillow.com/">Additional real estate information and neighborhood shapefiles came from Zillow</li>
                </ul>

                <p><a href="http://www.beenwill.com/about">Will</a></p>

        </div>

</template>